.about {
  margin-bottom: 55px;

  &__description {
    font-family: "Cantarell", sans-serif;
    font-size: 14px;
    letter-spacing: -0.3px;
    margin-bottom: 18px;
  }

  &__img {
    width: 100%;
  }
}

.about-us {
  margin-bottom: 10px;
}
