.header {
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/header_background_v1.jpg");

  &__top-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 20%;
  }

  &__logo {
    position: relative;
    
    &-img {
      height: 16vh;
    }
  }
  &__nav {
    width: 54%;
  }
}
