.article {
  background-color: #EFEFEF;
  padding: 10px 15px 10px 10px;
  margin-bottom: 20px;
  display: flex;

 

  &__img {
    margin-right: 7px;
    height: 270px;
  }
}

.last-article {
  margin-bottom: 50px;
}

.post {
  &__description {
    margin-top: 10px;
    margin-bottom: 9px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    color: rgb(234, 82, 3);
  }

  &__hr {
    height: 1px;
    background-color: rgb(96, 125, 139);
    margin-bottom: 5px;
  }

  &__title {
    font-family: Helvetica, sans-serif;
    color: rgb(0, 151, 167);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__content {
    font-family: "Cantarell", sans-serif;
    font-size: 14px;
    letter-spacing: -0.3px;
    margin-bottom: 18px;
  }

  &__button {
    text-decoration: none;
    outline: none;
    border: none;
    display: inline-block;
    padding: 13px 80px;
    margin: 10px 20px;
    background-color: rgb(1, 172,172);
    box-shadow: 0 0 40px 40px #00ACAC inset, 0 0 0 0 #00ACAC;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 10px 0 #00ACAC inset, 0 0 10px 4px #00ACAC;
      color: whitesmoke;
    }

    &-wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.post-list {
  margin-bottom: 55px;
}
